# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat
cache/
artifacts/
coverage/
coverage.json

# TypeChain
typechain/
typechain-types/

# Hardhat Ignition
ignition/deployments/

# OS metadata
.DS_Store
Thumbs.db
